/* Full page center */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #1e1e2f;
  font-family: Arial, sans-serif;
}

/* Card */
.login-card {
  background: #2c2c3e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  width: 500px;
  text-align: center;
}

/* Heading */
.login-card h2 {
  color: white;
  margin-bottom: 20px;
}

/* Form elements */
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  color: #ccc;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #3a3a4f;
  color: white;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2 !important;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #357ab7 ;
}

/* Footer text */
.login-card p {
  margin-top: 15px;
  color: #aaa;
}

.login-card a {
  color: #4a90e2;
  text-decoration: none;
}
.login-card a:hover {
  text-decoration: underline;
}